[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdf2image = "*"
pefile = "*"

[dev-packages]
imgconv = {editable = true, path = "."}
autopep8 = "*"

[scripts]
build = "python -u builder.py ; python -m pip freeze | Out-File -Encoding UTF8 requirements.txt"
test = "python -m unittest discover tests"

[requires]
python_version = "3.9"
