[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdf2image = "*"
pefile = "*"

[dev-packages]
imgconv = {editable = true, path = "."}
autopep8 = "*"

[scripts]
build = "python -u builder.py"
"update:pwsh" = "pwsh -c \"pipenv lock -r | Out-File -Encoding utf8NoBOM requirements.txt\""
"update:bash" = "bash -c \"pipenv lock -r | Out-File -Encoding utf8NoBOM requirements.txt\""
test = "python -m unittest discover tests"

[requires]
python_version = "3.9"
